* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.body {
  position: relative;
  z-index: 1;
  background: white;
}

.video-container {
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  display: block;
}

.video-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}

.logo-img {
  width: 100px;
}

.logo-text {
  color: white;
  font-size: 95px;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: bold;
  margin-left: 1em;
}

.nav {
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, .8);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  height: 57px;
  margin-top: calc(55vw - 57px);
}

.nav-link {
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.divider {
  background: rgba(0, 0, 0, .8);
  display: flex;
  height: 57px;
}

@media screen and (max-width: 1500px) {
  .logo-img {
    width: 60px;
  }

  .logo-text {
    font-size: 50px;
  }
}

@media screen and (max-width: 850px) {
  .video-container {
    position: static;
  }

  .logo {
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;
  }

  .logo-img {
    margin-bottom: 40px;
  }

  .logo-text {
    font-size: 30px;
  }

  .about {
    margin-top: 0;
    font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  .logo-img {
    width: 40px;
    margin-bottom: 20px;
  }

  .logo-text {
    font-size: 18px;
  }

  .about {
    font-size: 18px;
  }
}

.section {
  display: flex;
  min-height: 100vh;

  --gradient: linear-gradient(164deg, rgba(52,210,251,1) 0%, rgba(181,39,250,1) 100%);
  --gradient-vertical: linear-gradient(to top, rgb(181, 39, 250) 0%, rgb(52, 210, 251) 83%, transparent 100%);
  --content-padding: 60px 5% 60px 20%;
  --content-margin: 0 0 0 -15%;
  --image-width: 30%;
  --content-width: 85%;
}

.section.reverse {
  flex-direction: row-reverse;
  --gradient: linear-gradient(36deg, rgba(249,255,71,1) 0%, rgba(59,242,156,1) 100%);
  --gradient-vertical: linear-gradient(to top, rgb(59, 242, 156) 0%, rgb(249, 255, 71) 83%, transparent 100%);
  --content-padding: 60px 20% 60px 5%;
  --content-margin: 0 -15% 0 0;
}

.section.vertical {
  flex-direction: column;
  --gradient: white;
  --gradient-vertical: white;
}

.section.vertical .section-content {
  padding-left: 40%;
}

.section.vertical .section-content h2 {
  text-align: right;
}

.section-last {
  display: flex;
  min-height: 100vh;

  --gradient: linear-gradient(164deg, rgb(222, 44, 50) 0%, rgb(255, 110, 178) 100%);
  --gradient-vertical: linear-gradient(to top, rgb(222, 44, 50) 0%, rgb(255, 110, 178) 83%, transparent 100%);
  --content-padding: 60px 5% 60px 20%;
  --content-margin: 0 0 0 -15%;
  --image-width: 30%;
  --content-width: 85%;
}

.section-image-container-about {
  flex: 0 0 var(--image-width);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.section-image-container-about > img {
  width: 100%;
  min-height: auto;
}

.section-image-container {
  flex: 0 0 var(--image-width);
  width: var(--image-width);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.section-image-container-second {
  flex: 0 0 var(--image-width);
  width: var(--image-width);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.section-image-container-last {
  flex: 0 0 var(--image-width);
  width: var(--image-width);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.section-image {
  object-fit: cover;
  display: block;
  min-height: 100%;
}

.section-content {
  flex: 0 0 var(--content-width);
  color: #212121;
  margin: var(--content-margin);
  padding: var(--content-padding);
  background: var(--gradient);
}

.section-content h2 {
  font-size: 40px;
  margin-bottom: 1em;
}

.section-content h3 {
  font-size: 30px;
  margin-bottom: 1em;
}

.section-content p {
  font-size: 14px;
  margin-bottom: 3em;
  text-align: justify;
}

.content-block {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.content-block-text {
  flex: 0 0 50%;
  background: rgba(96, 49, 221, .3);
  color: white;
  padding: 20px;
  font-size: 14px;
}

.content-block-text p {
  margin-bottom: 1em;
}

.content-block-image {
  flex: 0 0 50%;
}

.content-block-image {
  padding-bottom: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background: #333;
  padding: 30px;
  display: flex;
}

.footer-contact {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-contact-title {
  font-weight: bold;
}

.footer-contact-value {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

.footer-contact-value[href]:hover {
  text-decoration: underline;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.footer-nav-link {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-logos {
  margin-left: auto;
}

.footer-logos-images {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.footer-logos-image {
  height: 60px;
  margin-left: 10px;
}

.footer-logos-info {
  text-align: right;
  color: white;
}

.footer-logos-info-item {
  display: block;
}

@media screen and (max-width: 1200px) {
  .section {
    --content-width: 65%;
    --image-width: 50%;
    /*--content-padding: 60px 5% 60px 30%;*/
  }

  .section.reverse {
    /*--content-padding: 60px 30% 60px 5%;*/
  }

  .content-block {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    margin-top: 0;
  }

  .nav-link {
    font-size: 20px;
  }

  .section {
    flex-direction: column;

    --image-width: 100%;
    --content-width: 100%;
  }

  .section.reverse {
    flex-direction: column;
  }

  .section-image-container,
  .section-image-container-second,
  .section-image-container-last {
    clip-path: none;
  }

  .section-image {
    width: 100%;
    height: 1000px;
    min-height: auto;
  }

  .section-content {
    position: relative;
    z-index: 2;
    width: 100%;
    --content-margin: 0;
    --content-padding: 150px 15px 20px;
    flex: 1;
    margin-top: -350px;
    --gradient: var(--gradient-vertical);
  }

  .section h2 {
    font-size: 30px;
  }

  .section h3 {
    font-size: 22px;
  }

  .footer {
    flex-wrap: wrap;
  }

  .footer-contacts {
    flex: 0 0 70%;
  }

  .footer-nav {
    margin-left: 0;
    flex: 0 0 30%;
    text-align: right;
  }

  .footer-logos {
    flex: 0 0 100%;
    margin-top: 30px;
  }

  .footer-logos-images {
    justify-content: center;
  }

  .footer-logos-image {
    height: 40px;
  }

  .footer-logos-info {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .section.vertical .section-content {
    padding: 30px 15px 20px;
  }

  .nav-link {
    font-size: 16px;
    margin: 0 10px;
  }

  .section-image {
    height: 700px;
  }

  .section h2 {
    font-size: 24px;
  }

  .section h3 {
    font-size: 18px;
  }

  .content-block {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .footer-contact {
    text-align: center;
  }

  .footer-nav {
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer-nav-link {
    margin: 0 20px;
  }

  .footer-logos {
    margin: 0;
  }
}
